body {
    color: var(--current-theme-sub-color);
}

.archive-content-container {
    --timeline-length: 100%;
    --timeline-position: 0;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.archive-content-container * {
    padding: 0;
    margin: 0;
}

.archive-content-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 9rem;
    gap: .65rem;
    background-image: linear-gradient(transparent, #ed8f2325, transparent);
}

.archive-content-header-wrapper h2 {
    position: relative;
    font-size: 1.75rem;
    text-align: center;
    color: var(--current-theme-sub-color);
}

.archive-content-header-wrapper h2::after, .archive-content-header-wrapper h2::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 250%;
    background-color: #ed8f2381;
}

.archive-content-header-wrapper h2::after {
    left: calc(100% - 0.475rem);
    transform: skewY(-55deg) translateY(-1rem) translateX(1rem);
}

.archive-content-header-wrapper h2::before {
    right: calc(100% + 2.525rem);
    transform: skewY(-55deg) translateY(-1rem) translateX(1rem);
}

.archive-content-header-wrapper h5 {
    position: relative;
}

.archive-content-header-wrapper h5::before, .archive-content-header-wrapper h5::after {
    content: '';
    background-size: 100% .225rem;
    background-image: linear-gradient(transparent .125rem, var(--tastey-brand-color) .1rem);
    width: 2rem;
    position: absolute;
    top: .25rem;
    height: .45rem;
}

.archive-content-header-wrapper h5::before {
    left: -2.75rem;
}

.archive-content-header-wrapper h5::after {
    right: -2.75rem;
}

.archive-content-sub-header-wrapper {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.archive-content-sub-header-wrapper h3 {
    color: var(--main-text-color);
}

.archive-content-sub-header-wrapper p {
    max-width: 40rem;
    color: var(--sub-text-color);
    padding-inline: 2rem;
}

.archives-content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    position: relative;
}

.tastey-timeline {
    position: absolute;
    height: var(--timeline-length);
    background-color: var(--lighter-black);
    width: 1rem;
    display: flex;
    justify-content: center;
    margin-block-start: 1rem;
}

.tastey-timeline::after, .tastey-timeline-seeker {
    border-radius: .2rem;
    position: absolute;
    left: 50%;
    margin-left: -.1rem;
    width: .2rem;
    transition: max-height 400ms ease;
}

.tastey-timeline::after {
    content: '';
    padding-block: 1rem;
    height: 100%;
    background-color: var(--sub-text-color);
}

.tastey-timeline-seeker {
    height: var(--timeline-length);
    max-height: var(--timeline-position);
    background-color: var(--tastey-brand-light-accent-color);
    z-index: 1;
    margin-block: 1rem;
}

.archive {
    flex: 0 0 50%;
    display: flex;
}

.archive:nth-child(odd) {
    margin-block-end: 7.5rem;
    padding-right: 3rem;
    text-align: right;
    justify-content: end;
}

.archive:nth-child(even) {
    margin-block-start: 7.5rem;
    text-align: left;
    padding-left: 3rem;
    padding-right: 0;
    justify-content: start;
}

.archive-content {
    position: relative;
    flex: 0 1 25rem;
    min-width: 17.5rem;
    padding-block-start: 3rem;
    padding-block-end: 1.5rem;
    display: flex;
    border-radius: .5rem;
    gap: 1dvw;
    padding-inline: 1.6rem;
    border-width: .05rem;
    border-style: solid;
    border-color: transparent;
}

.archive-content.visible {
    border-color: var(--tastey-brand-light-accent-color);
    transition: border-color 800ms ease;
}

.archive-content.visible h4 {
    color: var(--current-theme-sub-color);
    transition: color 800ms ease;
}

.archive-content.visible h2 {
    color: var(--tastey-brand-accent-color);
    transition: color 800ms ease;
}

.archive-content.visible p {
    color: var(--main-text-color);
    transition: color 800ms ease;
}

.archive-content.visible .archive-time-wrapper h4::before {
    background-color: var(--tastey-brand-light-accent-color);
    transition: background-color 400ms ease;
} 

.archive-content.visible .archive-time-wrapper h4::after {
    border-color: var(--tastey-brand-light-accent-color);
    transition: border-color 400ms ease;
}

.archive-content.visible .archive-img-wrapper img {
    filter: brightness(100%);
    transition: filter 400ms ease;
}

.archive:nth-child(odd) .archive-content {
    flex-direction: row-reverse;
}

.archive-time-wrapper {
    position: absolute;
    top: 1rem;
}

.archive-time-wrapper h4 {
    color: var(--current-theme-fade-color);
}

.archive-time-wrapper h4::before, .archive-time-wrapper h4::after {
    content: '';
    position: absolute;
}

@media only screen and (min-width: 45rem) {
    .archive:nth-child(odd) .archive-time-wrapper h4::before {
        left: 3.2rem;
    }   
    .archive:nth-child(odd) .archive-time-wrapper h4::after {
        left: 6.35rem;
    }  
    .archive:nth-child(even) .archive-time-wrapper h4::before {
        right: 3.2rem;
    }
    .archive:nth-child(even) .archive-time-wrapper h4::after {
        right: 6.35rem;
    }        
}

.archive-time-wrapper h4::before {
    z-index: 1;
    top: .5rem;
    height: .25rem;
    width: 3rem;
    border-radius: .1rem;
    background-color: var(--sub-text-color);
}

.archive-time-wrapper h4::after {
    --current-shade: var(--lighter-black);
    z-index: 2;
    top: 0;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 .4rem var(--current-shade);
    box-shadow: 0 0 0 .4rem var(--current-shade);
    border-width: .25rem;
    border-style: solid;
    border-color: var(--sub-text-color);
    background-color: var(--current-shade);
}

.archive-img-wrapper {
    flex: 0 1 30%;
    min-height: 20rem;
    border-radius: .5rem;
}

.archive-text-wrapper {
    flex: 0 1 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.archive-text-wrapper h2 {
    color: var(--main-text-color);
    font-size: clamp(1.75rem, calc(1.5dvw + 1.75dvh), 2rem);
}

.archive-text-wrapper p {
    color: var(--sub-text-color);
    font-size: clamp(.85rem, calc(1dvw + 1.25dvh), 1rem);
}

.archive-img-wrapper > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    filter: brightness(80%) grayscale(90%);
}

main.about-section {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.video-content-wrapper {
    margin-block-end: 2rem;
}

.about-title-wrapper {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title-wrapper h2 {
    position: relative;
    width: fit-content;
    text-align: center;
}

.about-title-wrapper h2::before, .about-title-wrapper h2::after {
    content: '';
    background-size: 100% .285rem;
    background-image: linear-gradient(transparent .15rem, var(--tastey-brand-color) .135rem);
    width: 2rem;
    position: absolute;
    top: .5rem;
    height: .575rem;
}

.about-title-wrapper h2::before {
    left: -2.75rem;
}

.about-title-wrapper h2::after {
    right: -2.75rem;
}

.accreditation-sections, .review-panel-container {
    width: 100%;
    padding-block: 1rem;
}

.accreditation-sections {
    background: url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-4.png') 0 0/200% no-repeat, var(--darker-black);
}

.review-panel-container {
    background: url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-4.png') 100% bottom/cover no-repeat, var(--darker-black);
}

.accreditation-sections-content, .review-panel-content {
    margin-inline: auto;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.accreditation-sections-content {
    width: 90%;
    height: 10rem;
    justify-content: space-between;
}

.accreditation-section {
    flex: 1;
    height: 4.5rem;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.accreditation-section .number-values {
    color: var(--tastey-brand-light-accent-color);
}

.accreditation-section > span {
    height: 53px;
    margin: 20px;
}

.number-values {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.85rem;
    margin-bottom: .4rem;
}

.accreditation-text {
    font-size: clamp(.75rem, calc(1dvh + 1dvw), 1rem);
    font-weight: 400;
    margin: 0;
    line-height: 1.15rem; 
}

.accreditation-section:nth-of-type(1),
.accreditation-section:nth-of-type(2),
.accreditation-section:nth-of-type(3) {
    border-right: .1rem solid var(--tastey-brand-light-accent-color);
}

.reservation-content-wrapper-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2dvw;
}

.reservation-content-wrapper-content > div:first-child {
    flex: 0 1 clamp(10rem, 32.5%, 25rem);
}

.reservation-content-wrapper-content > div:last-child {
    flex: 0 1 35rem;
}

.reservation-content-wrapper-content > div {
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

.reservation-content-wrapper-content > div h2 {
    font-size: clamp(2.75rem, 4dvw, 3.25rem);
    margin: 0;
}

.reservation-content-wrapper-content > div p {
    font-size: clamp(.9rem, 2dvw, 1rem);
    line-height: 1.5rem;
    margin: 0;
}

.reservation-content-wrapper-content > div:first-of-type {
    font-size: 1rem;
}

.reservation-content-wrapper-content > div:last-of-type {
    background: no-repeat url('../assets/tastey-meal-images/reserved.png');
}

.reservation-content-wrapper-content > div > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.open-menu-btn {
    border: none;
    background-color: transparent;
    color: var(--current-theme-sub-color);
    font-size: .8rem;
    font-weight: 600;
}

.reservation-content-wrapper-content .reservation-btn {
    padding: 1rem;
    padding-inline: 2rem;
    transition: transform 300ms ease-in-out;
}

.reservation-content-wrapper-content .reservation-btn:hover {
    transform: scale(1.025);
}

.review-panel-content {
    width: clamp(10rem, 90%, 45rem);
    margin-block: 2.5rem;
    padding-block: 2rem;
    padding-inline: calc(2rem + 2dvw);
    height: fit-content;
    flex-direction: column;
    justify-content: center;
}

.review-top {
    display: block;
    text-align: center;
}

.qa:not(:last-of-type) {
    border-bottom: 0.1rem solid var(--sub-text-color);
}

.qa:not(:last-of-type):hover {
    border-bottom: .1rem solid var(--tastey-brand-light-accent-color);
}

.review-header {
    color: var(--current-theme-sub-color);
    font-size: clamp(1.85rem, 4dvw, 2.15rem);
    margin: 0 0 2rem 0;
    font-weight: bold;
}

.review-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviews {
    color:  var(--current-theme-sub-color);
    padding-block: 1rem;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.reviews > div {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1rem;
}

.reviews > div > img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    object-position: 0% 0%;
}

.reviews > div > img, .toggle-audio-content {
    border-radius: 50%;
}

.reviews p {
    font-size: clamp(.85rem, calc(1.25dvw + 1.25dvh), 1.15rem);
    display: inline-block;
    color: var(--main-text-color);
    margin: 0 0 0 .2rem;
    transition: 300ms ease;
}

.qa:hover p {
    color: var(--tastey-brand-light-accent-color);
}

.qa:hover .reviews > div > img {
    border: .1rem solid var(--tastey-brand-light-accent-color);
}

.toggle-audio-content {
    border: none;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-audio-content svg {
    fill: var(--current-theme-fade-color);
    flex: 0 0 100%;
}

.qa:hover .toggle-audio-content svg {
    fill: var(--tastey-brand-color);
}

.review-answers {
    display: grid;
    transition: 200ms ease;
}

.audio-content-wrapper {
    width: 100%;
}

.none {
    display: none;
}

.inline {
    display: inline;
}

#review-top:hover, .reviews:hover, .review-answers:hover, .minus:hover, .plus:hover{
    cursor: pointer;
}

@media only screen and (max-width: 60rem) {
    .reservation-content-wrapper-content > div:first-child {
        flex: 0 1 30rem;
        height: fit-content;
        padding: 5rem 2rem 2rem 2rem;
    }
}

@media only screen and (max-width: 45rem) {
    .accreditation-sections-content {
        flex-flow: column nowrap;
        height: fit-content;
    }
    .accreditation-section {
        flex: 0;
        width: 80%;
        height: fit-content;
    }
    .accreditation-section > span > span {
        text-align: center;
    }
    .accreditation-section:nth-child(1),
    .accreditation-section:nth-child(2),
    .accreditation-section:nth-child(3) {
        border-right: 0;
        border-bottom: .1rem solid var(--tastey-brand-light-accent-color);
    }
    .archive-content-container .archives-content-wrapper {
        padding-block-start: 0;
    }
    .archives-content-wrapper .archive:nth-child(1) {
        margin-top: 0;
    }
    .archives-content-wrapper .archive {
        margin-block-start: 0;
        margin-block-end: 4rem;
        padding-left: 4rem;
        padding-right: 7.5%;
        flex: 0 0 100%;
        justify-content: center;
    }
    .archives-content-wrapper .archive .archive-content {
        min-width: 100%;
        flex-direction: row;
        gap: .75rem;
        text-align: left;
        padding-inline: 1rem;
    }
    .archive-img-wrapper {
        min-height: 15rem;
    }
    .tastey-timeline, .tastey-timeline-seeker {
        left: 2.5rem;
    }
    .tastey-timeline {
        transform: translateX(-50%);
        margin-block-start: .75rem;
    }
    .archive-content .archive-time-wrapper h4::before {
        right: 3rem;
        width: 3rem;
    }
    .archive-content .archive-time-wrapper h4::after {
        right: 5.75rem;
    } 
}

@media only screen and (max-width: 36rem) {
    .reviews > div > img {
        height: 2.5rem;
        width: 2.5rem;
    }
    .tastey-timeline, .tastey-timeline-seeker {
        left: 1.25rem;
    }
    .archives-content-wrapper .archive {
        padding-left: 1.5rem;
        padding-right: 0;
    }
    .archive-content .archive-time-wrapper h4::before {
        width: 2rem;
    }
    .archive-content .archive-time-wrapper h4::after {
        right: 4.5rem;
    } 
}

@media only screen and (max-width: 25rem) {
    .archive-content-header-wrapper h2::after, .archive-content-header-wrapper h2::before, 
    .about-title-wrapper h2::before, .about-title-wrapper h2::after {
        display: none;
    }
}

@media only screen and (max-width: 20rem) {
    .archive-img-wrapper {
        display: none;
    }
    .archive-text-wrapper {
        flex: 0 1 100%;
    } 
}