h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.contact-banner-section-wrapper {
    margin-top: 3.5rem;
    height: 11.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('../assets/tastey-meal-images/tastey_meal_four.jpg') center/cover;
    box-shadow: inset 5rem 5rem 10rem var(--current-theme-inverse-color), inset -5rem -5rem 10rem var(--current-theme-inverse-color);
    text-align: center;
}

.contact-banner-section-wrapper h1 {
    color: var(--current-theme-sub-color);
    font-size: 2rem;
}

.contact-banner-section-wrapper h3 {
    color: var(--current-theme-accent-color);
    font-size: .75rem;
}

.contact-section-wrapper  {
    background-color: var(--current-theme-inverse-color);
    padding-inline: 5dvw;
}

.contact-section {
    display: flex;
    flex-flow: row wrap;
    padding-inline: 2.5dvw;
    padding-block: 2.5rem;
    column-gap: 2.5dvw;
    row-gap: 2.5rem;
    border-radius: .5rem;
    background: linear-gradient(to left, var(--current-theme-main-color), var(--tastey-brand-light-accent-color), var(--tastey-brand-light-accent-color));
}

.contact-section > div {
    max-width: 100%;
    height: 31rem;
    min-width: 10rem;
    border-radius: .5rem;
    overflow: hidden;
}

.contact-form-wrapper-container {
    flex: 1 1 17.5rem;
    background: url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-3.png') no-repeat top/cover, radial-gradient(35rem circle at center, rgba(255,255,255,0.475), transparent 40%), center 6rem/18.75rem no-repeat url('../assets/tastey-meal-icons/tastey-icon.png'), center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-1.png'), var(--darker-black);
    padding: .75rem;
}

.contact-form-wrapper {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 2dvw;
    padding-block: 1.75rem;
    background-color: var(--current-theme-inverse-transparent-color);
}

.contact-form-title-wrapper {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.contact-form-title-wrapper em {
    color: var(--attractive-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.contact-form-title-wrapper h1 {
    color: var(--current-theme-sub-color);
    font-size: 1.65rem;
    font-weight: bolder;
    position: relative;
}

.contact-form-title-wrapper h1::after {
    content: '';
    position: absolute;
    top: calc(100% + .25rem);
    left: -10%;
    width: 120%;
    height: 1.15rem;
    background: url('../assets/tastey-meal-icons/line-2.png') no-repeat center/cover;
    opacity: .75;
}

form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

form input, form textarea {
    padding: .75rem;
    border-radius: .35rem;
    border: none;
    background-color: var(--current-theme-fade-color);
}

form input:hover, form textarea:hover {
    background-color: var(--current-theme-sub-color);
}

form input::placeholder, form textarea::placeholder {
    color: var(--current-theme-inverse-accent-color);
}

form textarea {
    min-height: 8rem;
    resize: none;
}

form .submit-btn {
    background-color: var(--tastey-brand-accent-color);
    color: var(--current-theme-inverse-accent-color);
    padding-block: .85rem;
    border-radius: .35rem;
    font-size: .75rem;
    font-weight: bold;
    border: none;
    transition: 200ms ease;
}

form .submit-btn:hover {
    transform: scale(1.01);
    background-color: var(--tastey-brand-color);
    color: var(--current-theme-inverse-color);
    cursor: pointer;
}

.reserve-section {
    flex: 1 0 12rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    background: url('../assets/tastey-meal-images/tastey_meal_two.jpg') no-repeat center/cover, radial-gradient(35rem circle at center, rgba(255,255,255,0.475), transparent 40%), center 6rem/18.75rem no-repeat url('../assets/tastey-meal-icons/tastey-icon.png'),center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-1.png'), var(--darker-black);
    box-shadow: inset 10rem -10rem 15rem var(--current-theme-inverse-accent-color);
    gap: 1.1rem;
    padding-block-end: 2rem;
    padding-inline: 2.5dvw;
}

.reserve-section > div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.reserve-section > div h1 {
    color: var(--current-theme-sub-color);
    font-size: 1.65rem;
}

.reserve-section > div h2 {
    color: var(--current-theme-accent-color);
    font-size: .75rem;
}

.reserve-section .reservation-btn {
    padding-inline: 1rem;
    padding-block: .75rem;
    color: var(--current-theme-inverse-accent-color);
    transition: transform 250ms ease;
}

.reserve-section .reservation-btn:hover {
    transform: scale(1.05);
    color: var(--current-theme-inverse-color);
}

@media only screen and (max-width: 36rem) {
.contact-section {
    background: linear-gradient(to top, var(--current-theme-main-color), var(--tastey-brand-light-accent-color), var(--tastey-brand-light-accent-color));
    padding-inline: 3dvw;
}
}

@media only screen and (max-width: 28.5rem) {
    .contact-section-wrapper {
        padding-inline: 0;
    }
}