:root {
    --global-light-width: 35rem;
    --global-mouse-x: 50%;
    --global-mouse-y: 14rem;
    --global-light-color: rgba(255,255,255,0.475);--global-light-complement-color: transparent;
}

body::before {
    background: radial-gradient(var(--global-light-width) circle at var(--global-mouse-x) var(--global-mouse-y), var(--global-light-color), var(--global-light-complement-color) 40%), center 6rem/18.75rem no-repeat url('../assets/tastey-meal-icons/tastey-icon.png'), center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-1.png'), var(--darker-black);
}

body.cart::before {
    background: center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-2.png'), var(--darker-black);
}

body.cart::after {
    display: none;
}

body.cart aside.category-switcher-container {
    display: none;
}

body:not(.cart) main.meal-cart, body.cart main.menu {
    display: none;
}

body.cart main.meal-cart, body:not(.cart) main.menu{
    display: block;
}

.Cart.main-cart::after {
    display: none;   
}

aside.menu-cart-toggler-container, aside.category-switcher-container {
    position: fixed;
    background-color: var(--current-theme-main-color);
    width: 3rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

aside.menu-cart-toggler-container {
    top: calc(50dvh + 1.5rem);
    transform: translateY(-50%);
    height: 75dvh;
    left: .5rem;
}

aside.category-switcher-container { 
    display: flex;
    right: .5rem;
    bottom: 25dvh;
    height: 50dvh;
    opacity: 1;
    transition: height 300ms ease, opacity 250ms ease;
}

aside.menu-cart-toggler-container::before, aside.category-switcher-container::before {
    width: .4rem;
    height: calc(100% - .7rem);
    top: .35rem;
}

aside.menu-cart-toggler-container::before {
    left: 100%;
    border-radius: 0 .5rem .5rem 0;
}

aside.category-switcher-container::before {
    left: -.4rem;
    border-radius: .5rem 0 0 .5rem;
}

aside:hover, aside:has(:focus-visible) {
    width: 3.5rem;
}

aside:hover .icon, aside:hover .switcher-icon, aside:has(:focus-visible) .icon, aside:has(:focus-visible) .switcher-icon {
   scale: .75;
}

aside:hover .toggler div p, aside:hover .switcher div p, aside:has(:focus-visible) .toggler div p, aside:has(:focus-visible) .switcher div p {
    position: static;
    translate: 0;
    opacity: 1;
}

.toggler-wrapper, .category-switcher-wrapper {
    width: 85%;
    height: 90%;
    border-radius: .5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggler, .switcher {
    width: 100%;
    border-radius: inherit;
    background-color: var(--tastey-brand-light-accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    border: none;
}

.toggler:hover, .switcher:hover {
    cursor: pointer;
}

body.cart .cart-toggler, body:not(.cart) .menu-toggler, .toggler:hover, .switcher.active, .switcher:hover, .toggler:focus-visible, .switcher:focus-visible {
    background-color: var(--tastey-brand-color);  
}

body.cart .cart-toggler, body:not(.cart) .menu-toggler, .switcher.active {
    border: .13rem solid var(--current-theme-inverse-color);
}

.toggler:hover .icon, .switcher:hover .switcher-icon, .toggler.active .icon, .switcher.active .switcher-icon, .toggler:focus .icon, .switcher:focus .switcher-icon {
    opacity: 1!important;
}

.icon, .switcher-icon, .switcher-icon path {
    fill: var(--current-theme-inverse-color);
    opacity: 0.8;
    transition: 200ms ease;
}

.main-cart {
    display: flex;
    align-items: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.switcher-icon {
    height: clamp(1.5rem, calc(1.75dvh + 1.25dvw), 2rem);
}

.toggler div p, .switcher div p {
    position: absolute;
    color: var(--current-theme-inverse-color);
    font-weight: bold;
    transition: translate 400ms ease, opacity 800ms ease;
    translate: 200%; 
    opacity: 0;
}

.toggler div p {
    font-size: .75rem;
}

.switcher div p {
    text-align: center;
    font-size: .65rem;
    margin: 0;
}

.st0 {
    fill-rule:evenodd;
    clip-rule:evenodd;
}

main {
    position: relative;
    width: 100%;
}

main.menu p, main.menu h1, main.menu h3 {
    text-align: center;
}

main.menu h1 {
    font-size: 1.85rem;
    font-family: 'Courier New', Courier, monospace;
}

.tastey-menu-title-wrapper {
    --local-light-width: 200px;
    --local-mouse-x: 50%;
    --local-mouse-y: 50%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0; 
}

.tastey-menu-title-wrapper::after, .tastey-menu-title-wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 35%;
    top: 0;
    background-size: clamp(1rem,25%,7.5rem)!important;
}

.tastey-menu-title-wrapper::after {
    left: 0;
}

.tastey-menu-title-wrapper::before {
    right: 0;
}

.tastey-menu-title-wrapper.starters::after, .tastey-menu-title-wrapper.starters::before {
    background: url('../assets/tastey-meal-icons/fast-food-svgrepo-com.svg') no-repeat center;
} 

.tastey-menu-title-wrapper.main-meals::after, .tastey-menu-title-wrapper.main-meals::before {
    background: url('../assets/tastey-meal-icons/food-dish-svgrepo-com.svg') no-repeat center;
}

.tastey-menu-title-wrapper.drinks::after, .tastey-menu-title-wrapper.drinks::before {
    background: url('../assets/tastey-meal-icons/glass-drinks-svgrepo-com.svg') no-repeat center;
}

.tastey-menu-title-wrapper.desserts::after, .tastey-menu-title-wrapper.desserts::before {
    background: url('../assets/tastey-meal-icons/ice-cream-svgrepo-com.svg') no-repeat center;
}

.tastey-menu-title-wrapper.starters::before, .tastey-menu-title-wrapper.main-meals::before, .tastey-menu-title-wrapper.drinks::before, .tastey-menu-title-wrapper.desserts::before {
    transform: scaleX(-1);
}

.tastey-menu-title-wrapper h1 {
    font-size: 1.85rem;
    position: relative;
    width: fit-content;
}

main.menu .main-menu-title-wrapper h3 {
    font-size: 1.25rem;
    color: var(--attractive-color);
    pointer-events: none;
}

#tastey {
    cursor: zoom-in;
    pointer-events: all!important;
}

.hide {
    opacity: 0!important;
}

#magic, .attention-grabber, .attention-grabber-two {
    transition: opacity 500ms ease;
}

#magic {
    position: relative;
    display: flex;
    align-items: center;
    height: 10rem;
    opacity: 1;
}

.magic-star {
    --size: clamp(20px,1.5dvw,30px);
    display: block;
    height: var(--size);
    width: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    animation: scale 700ms ease forwards;
}
@keyframes scale{
    from,to {
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
}

.magic-star > svg {
    display: block;
    opacity: 0.7;
    animation: rotate 1000ms linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

.magic-star > svg > path {
    fill: var(--attractive-color);
}

.menu-sections {
    width: 100%;
    padding: 7.5rem 4.8rem 4rem 4rem;
}

.tastey-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: inherit;
    row-gap: 2.5rem;
    column-gap: .5rem;
}

.tastey-meal {
    height: 20rem;
    flex: 0 0 17rem;
    border-radius: .5rem;
    position: relative;
    background-color: rgba(255, 255, 255, 0.25);
}

.menu-sections:hover .tastey-meal::before, main:hover .tastey-meal::after {
    opacity: 1;
}

.tastey-meal::after, .tastey-meal::before, 
.checkout-section::after, .order-number-wrapper::after, .tastey-meal-order::after, .checkout-section::before, .order-number-wrapper::before, .tastey-meal-order::before {
    border-radius: inherit;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 250ms ease;
    pointer-events: none;
}

.tastey-meal::before, .checkout-section::before, .order-number-wrapper::before, .tastey-meal-order::before {
    background: radial-gradient(
        28rem circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,0.1),
        transparent 40%
    );
    z-index: 3;
}

.tastey-meal::after, .checkout-section::after, .order-number-wrapper::after, .tastey-meal-order::after {
    background: radial-gradient(
        22rem circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,1),
        transparent 40%
    );
    z-index: 1;
}

.tastey-meal-content {
    background-color: var(--lighter-black);
    border-radius: inherit;
    position: absolute;
    padding: .5rem;
    inset: .05rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.tastey-meal-content h2, .tastey-meal-content p {
    margin: 0;
}

.tastey-meal-image-wrapper {
    width: 100%;
    flex: 0 0 10rem;
    border-radius: .35rem;
    padding: .35rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    background: var(--tastey-brand-accent-color);
    position: relative;
}

.tastey-meal-image {
    position: absolute;
    top: 0;
    left: 0;
}

.tastey-meal-image, .tastey-order-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    text-align: center;
}

.tastey-meal-image-wrapper::after, .tastey-order-image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    margin-block-start: .1rem;
    background: radial-gradient(1.75rem circle at center, rgba(255,255,255,0.3), transparent 40%), url('../assets/tastey-meal-icons/tastey-icon.png') no-repeat center center/cover;
    pointer-events: none;
}

.tooltip-text {
    visibility: hidden;
    background: var(--tastey-brand-light-accent-color);
    color: var(--current-theme-sub-color);
    border-radius: .25rem;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    padding: .25rem;
    bottom: calc(100% + 0.3rem);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 300ms;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: .35rem;
    border-style: solid;
    border-color: var(--tastey-brand-light-accent-color) transparent transparent transparent;
}

.tastey-meal[data-like="true"] .like-tooltip, .tastey-meal[data-like="false"] .unlike-tooltip, .tastey-meal-order[data-like="true"] .like-tooltip, .tastey-meal-order[data-like="false"] .unlike-tooltip {
    display: none;
}

.tastey-meal[data-like="false"] .like-tooltip, .tastey-meal[data-like="true"] .unlike-tooltip, .tastey-meal-order[data-like="false"] .like-tooltip, .tastey-meal-order[data-like="true"] .unlike-tooltip {
    display: inline-block;
}

.tastey-meal-image-wrapper:hover .tooltip-text, .tastey-order-image-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.heart-icon-wrapper {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--attractive-accent-color);
    z-index: 1;
}

.heart-icon-wrapper:hover {
    cursor: pointer;
}

.liked-heart-icon {
    width: 53.5%;
    height: 53.5%;
}

.unliked-heart-icon {
    width: 65%;
    height: 65%;
}

.liked-heart-icon, .unliked-heart-icon {
    position: relative;
}

.heart-icon:hover {
    cursor: pointer;
}

.tastey-meal[data-like="false"] .liked-heart-icon, .tastey-meal-order[data-like="false"] .liked-heart-icon, .tastey-meal-order[data-like="false"] .remove-from-wishlist, .tastey-meal[data-like="true"] .unliked-heart-icon, .tastey-meal-order[data-like="true"] .unliked-heart-icon, .tastey-meal-order[data-like="true"] .move-to-wishlist {
    display: none;
}

.tastey-meal[data-like="false"] .unliked-heart-icon, .tastey-meal-order[data-like="false"] .unliked-heart-icon, .tastey-meal-order[data-like="false"] .move-to-wishlist, .tastey-meal[data-like="true"] .liked-heart-icon, .tastey-meal-order[data-like="true"] .liked-heart-icon,.tastey-meal-order[data-like="true"] .remove-from-wishlist {
    display: block;
}

.main-menu-title-wrapper {
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--tastey-brand-color);
    -webkit-user-select: none;
    user-select: none;
} 

.menu-sections .tastey-menu-title-wrapper {
    color: var(--tastey-brand-color);
    display: flex;
    justify-content: center;
}

.attention-grabber, .attention-grabber-two {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--tastey-brand-accent-color);
    width: 15rem;
}

.attention-grabber {
    top: 7rem;
    right: 5rem;
    rotate: -10deg;
    height: 25rem;
}

.attention-grabber-two {
    top: 7rem;
    height: 19rem;
    left: 4.5rem;
    rotate: -2.5deg;
}

.attention-grabber p, .attention-grabber-two p {
    margin: 0;
}

.attention-grabber span {
    position: relative;
    top: -2rem;
    height: 20rem;
    background: url('../assets/tastey-meal-images/attention-grabber.png') no-repeat center center;
    background-size: cover;
    rotate: 25deg;
}

.attention-grabber-two span {
    position: relative;
    height: 15rem;
    background: url('../assets/tastey-meal-images/attention-grabber-two.png') no-repeat center center;
    background-size: cover;
}

.product-content {
    display: flex;
    flex-direction: column;
    height: 45%;
    align-items: start;
    justify-content: space-evenly;
}

.food-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
}

.food-info h2, .food-info p {
    text-align: start!important;
}

.food-info h2 {
    font-weight: 600;
    color: var(--current-theme-fade-color);
    font-size: 1.35rem;
}

.food-info p {
    color: var(--sub-text-color);
    font-size: .8rem;
}

.price-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.add-to-cart-button {
    width: 50%;
    height: 2.05rem;
    font-size: 1.05rem;
    border: none;
    position: relative;
    border-radius: .25rem;
    background-color: var(--tastey-brand-accent-color);
    color: var(--current-theme-sub-color);
    font-weight: bold;
    transition: 200ms ease;
}

.add-to-cart-button.disabled {
    background-color: var(--sub-text-color)!important;
    cursor: not-allowed!important;
    transform: scale(1)!important;
    opacity: .75!important;
}

.add-to-cart-button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: var(--tastey-brand-color);
}

.add-to-cart-button:not([data-orders="0"])::after {
    position: absolute;
    content: attr(data-orders) ' in Shopping Bag';
    white-space: nowrap;
    width: 100%;
    text-align: center;
    left: 0;
    top: 100%;
    font-size: .7rem;
    color: var(--sub-text-color);
}

.add-to-cart-button[data-orders="0"]::after {
    display: none;
}

.product-price {
    width: 50%;
    padding-inline-start: .5rem;
    color: var(--attractive-color);
    font-size: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.product-price:not([data-discount="0"])::after {
    content: '-'attr(data-discount) '%';
    position: relative;
    top: -.5rem;
    left: .25rem;
    font-size: .6rem;
    color: var(--current-theme-fade-color);
    background-color: rgba(255, 0, 0, 0.8);
    min-width: 1.4rem;
    height: 1.4rem;
    padding-inline: .075rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: .9;
    transition: 250ms ease-in-out;
}

.tastey-meal:not([data-discount="0"]):hover .product-price::after {
    scale: 1;
    color: var(--current-theme-sub-color);
}

main.meal-cart {
    padding-inline-start: 5rem;
    padding-inline-end: 1rem;
    padding-block: 5rem;
}

main.meal-cart:not([data-cart = '0']) {
    position: absolute;
}

main.meal-cart[data-cart='0'] {
    background: fixed no-repeat radial-gradient(
        clamp(5rem,80dvw,32.5rem) circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,0.15),
        transparent 50%
    );
    min-height: 100dvh;
}

main.meal-cart:not([data-cart='0']) {
    background: fixed no-repeat radial-gradient(
        clamp(5rem,90dvw,40rem) circle at center 80%,
        rgba(255,255,255,0.2),
        transparent 60%
    );
}

.cart-section {
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 1rem;
}

main.meal-cart[data-cart = '0'] {
    padding-block-end: 5rem;
}

main.meal-cart[data-cart="0"] .empty-cart-section, main.meal-cart:not([data-cart = '0']) .cart-section {
    display: flex;
}

main.meal-cart[data-cart="0"] .cart-section, main.meal-cart:not([data-cart="0"]) .empty-cart-section {
    display: none;
}

main.meal-cart[data-cart = '0'] .cart-title-wrapper h3::after {
    background: url('../assets/tastey-meal-icons/shopping-bag-icon.svg') no-repeat center;
    scale: 1.15;
    background-size: contain;
    bottom: 0;
}

.empty-cart-section, .cart-section {
    width: 100%;
}

.cart-title-wrapper {
    display: flex;
    justify-content: center;
    margin-block: .75rem;
    color: var(--current-theme-sub-color);
}

.cart-title-wrapper h3 {
    max-width: fit-content;
    position: relative;
    translate: 1.25rem;
    font-size: 1.75rem;
}

.cart-title-wrapper h3::after {
    content: '';
    position: absolute;
    right: 105%;
    height: 100%;
    bottom: 15%;
    scale: 1.4;
    aspect-ratio: 1 / 1;
    background: url('../assets/tastey-meal-icons/shopping-bag-full-icon.svg') no-repeat center;
    background-size: contain;
}

.empty-cart-section {
    width: unset;
    max-width: 100dvw;
    height: clamp(15rem,calc(32.5dvh + 10dvw),22.5rem);
    aspect-ratio: 1 / .63;
    border-radius: .5rem;
    color: var(--tastey-brand-color);
    display: flex;
    align-items: end;
    justify-content: center;
    margin: auto;
    background: url('../assets/tastey-meal-images/empty-cart.png') no-repeat center 80%/90%;
}

.empty-cart-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .15rem;
    padding-block-end: .25rem;
    text-align: center;
}

.empty-cart-text h2, .empty-cart-text p {
    margin: 0;
}

.empty-cart-text h2 {
    font-size: clamp(1rem, calc(.75vw + 1.25vh), 1.2rem);
}

.empty-cart-section p {
    font-size: clamp(.85rem, calc(.6vw + 1.1vh), .85rem);
}

.continue-shopping-button {
    color: lightblue;
    width: max-content;
    text-decoration: underline;
}

.continue-shopping-button:hover { 
    cursor: pointer;
}

.checkout-section, .order-review-section {
    max-height: min-content;
    height: fit-content;  
    position: relative;
}

.order-review-section {
    flex: 2 1 53rem;
}

.checkout-section {
    flex: 1 0 19rem;
    position: sticky;
    top: 5.5rem;
}

.tastey-meal-order, .order-number-wrapper {
    position: relative;
}

.checkout-section, .order-number-wrapper, .tastey-meal-order {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    padding: .05rem;
}

.checkout-section-content, .order-number, .tastey-meal-order-content {
    border-radius: inherit;
    position: relative;
    z-index: 2;
    background-color: var(--lighter-black);  
}

.order-review-section-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.checkout-section-content {
    padding: 1rem 1rem .75rem 1rem;
    display: flex;
    flex-direction: column-reverse;
}

body.cart:hover .checkout-section::before, body.cart:hover .order-number-wrapper::before, body.cart:hover .tastey-meal-order::before, body.cart:hover .checkout-section::after, body.cart:hover .order-number-wrapper::after, body.cart:hover .tastey-meal-order::after {
    opacity: 1;
}

.order-number {
    display: block;
    padding-block: .75rem;    
    padding-inline: 1.25rem;
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.order-number[data-meals = "1"][data-cart = "1"]::after {
    content: attr(data-cart) ' Order and ' attr(data-meals) ' Tastey Meal';
}

.order-number[data-meals = "1"]:not([data-cart = "1"])::after {
    content: attr(data-cart) ' Orders and ' attr(data-meals) ' Tastey Meal';
}

.order-number:not([data-meals = "1"])::after {
    content: attr(data-cart) ' Orders and ' attr(data-meals) ' Tastey Meals';
}

.tastey-meal-order-content {
    height: 16.25rem;
    padding: 1.1rem;
    display: flex;
    flex-flow: row nowrap;
}

.tastey-meal-order, .order-number-wrapper {
    position: relative;
    border-radius: .5rem;
}

.tastey-order-image-wrapper {
    flex: 0 0 25%;
    background: var(--tastey-brand-accent-color);
    border-radius: .4rem;
    position: relative;
}

.tastey-order-info {
    flex: 0 0 75%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-inline-start: 1.5rem;
    padding-block-start: .1rem;
    padding-block-end: 1.5rem;
}

.tastey-order-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tastey-order-text h2, .tastey-order-text p {
    margin: 0;
}

.tastey-order-text h2 {
    color: var(--main-text-color);
    font-size: 1.45rem;
}

.tastey-order-text p {
    color: var(--sub-text-color);
}

.tastey-order-text div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
}

.tastey-order-text div:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
}

.tastey-order-text div:nth-child(2) button {
    font-size: .9rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: .35rem;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: .001rem;
}

.tastey-order-text div:nth-child(2) button p {
    margin: 0;
    height: min-content;
    font-size: .9rem;
    color: var(--current-theme-fade-color);
}

.tastey-order-text div:nth-child(2) button {
    opacity: .95;
}

.tastey-order-text div:nth-child(2) button:hover {
    cursor: pointer;
    opacity: 1;
}

.delete-order svg {
    position: relative;
    top: .05rem;
    fill: var(--current-theme-fade-color);
    width: 1.3rem;
    height: 1.3rem;                             
}

.wishlist span svg.unliked-heart-icon {
    width: 1.3rem;
    height: 1.3rem;
}

.wishlist span svg.liked-heart-icon {
    width: 1.1rem;
    height: 1.15rem;
}

.tastey-order-price-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
}

.order-price {
    display: inline-flex;
    justify-content: end;
    align-items: center;
    gap: .65rem;
}

.tastey-meal-order[data-discount = "0"] .actual-meal-price {
    display: none;
}

.order-price h3 {
    margin: 0;
    font-weight: 500;
}

.meal-price {
    font-size: 1.05rem;
    color: var(--attractive-color);
}

.actual-meal-price {
    color: var(--main-text-color);
    font-size: .95rem;
    opacity: .85;
    text-decoration: line-through;
}

.tastey-order-price-wrapper > span:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
}

.cart-toggle {
    display: inline-flex;
    border: 1px solid var(--sub-text-color);
    align-items: center;
    gap: 1rem;
    border-radius: .25rem;
    width: fit-content;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.25rem;
    opacity: .85;
    border: none;
}

.sign.disabled {
    cursor: not-allowed!important;
    opacity: .5!important;
}

.sign.disabled svg {
    fill: var(--sub-text-color)!important;
}

.sign:hover {
    cursor: not-allowed;
}

.sign svg {
    fill: var(--current-theme-inverse-color);
}

.sign.hover svg {
    fill: var(--current-theme-fade-color);
}

.sign.hover:hover {
    cursor: pointer;
    opacity: 1;
}

.add {
    border-radius: 0 .25rem .25rem 0;
    background-color: transparent;
}

.add.hover {
    border-left: 1px solid var(--sub-text-color);
}

.minus {
    background-color: var(--soft-red);
    border-radius: .25rem 0 0 .25rem;
}

.minus.hover {
    background-color: transparent;
    border-right: 1px solid var(--sub-text-color);
}

.tastey-meal-order[data-orders="1"] .minus svg:first-child, .tastey-meal-order:not([data-orders="1"]) .minus svg:nth-child(2) {
    display: inline;
} 

.tastey-meal-order:not([data-orders="1"]) .minus svg:first-child, .tastey-meal-order[data-orders="1"] .minus svg:nth-child(2) {
    display: none;
}

.cart-number {
    margin: 0;
    color: var(--current-theme-fade-color);
}

.serving-size {
    position: absolute;
    bottom: 100%;
    font-size: .7rem;
    color: var(--sub-text-color);
    margin: 0;
    margin: 0 0 .1rem 0;
    width: max-content;
}

.serving-size[data-serving="NG"] {
    display: none;
}

.serving-size:not([data-serving="NG"])::after {
    content: attr(data-serving) ")";
}

.serving-size:not([data-serving="NG"])::before {
    content: '(';
}

.order-preview {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 1px solid var(--sub-text-color);
    padding-block-end: .75rem;
}

.order-preview span {
    display: inline-flex;
    justify-content: space-between;
}

.order-preview span p:nth-child(2) {
    font-weight: bolder;
    color: var(--main-text-color);
}

.order-preview:nth-child(2) h2 {
    font-size: .825rem;
}

.order-preview p {
    margin: 0;
    font-size: .825rem;
    color: var(--sub-text-color);
}

.order-preview h2 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--main-text-color);
    padding-block-start: .75rem;
}

.actual-price {
    text-decoration: line-through;
}

.checkout {
    border-bottom: 1px solid var(--sub-text-color);
    padding-block-end: .75rem;
}

.checkout-preview {
    display: flex;
    padding-block-end: .5rem;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.checkout-preview .total-amount-description p {
    margin: 0;
}

.checkout-preview p {
    margin: 0;
    font-weight: bolder;
    font-size: .95rem;
}

.checkout-preview p:not(.TOTAL-COST) {
    font-size: .825rem;
    color: var(--main-text-color);
}

.TOTAL-COST {
    color: var(--attractive-color);
    font-size: 1.05rem;
}

.clear-cart-btn-wrapper { 
    display: flex;
    justify-content: center;
    padding-block-start: .75rem;
}

.checkout-btn {
    width: 100%;
    height: 2.5rem;
    font-size: .9rem;
    background-color: var(--tastey-brand-color);
    color: var(--current-theme-sub-color);
    border: none;
}

.clear-cart-btn {
    width: 75%;
    aspect-ratio: 6 / 1;
    height: 2.25rem;
    color: var(--main-text-color);
    background-color: var(--darker-black);
    border: 0;
}

.checkout-btn, .clear-cart-btn {
    font-weight: bold;
    border-radius: .25rem;
    transition: transform 150ms ease;
}

.clear-cart-btn:hover {
    border-bottom: 1px solid var(--sub-text-color);
    border-right: 1px solid var(--sub-text-color);
}

.checkout-btn:hover, .clear-cart-btn:hover {
    cursor: pointer;
    transform: scale(1.015);
}

.checkout-btn::after {
    color: var(--current-theme-inverse-accent-color);
}

.checkout-btn[data-cart = "1"]::after {
    content: ' ('attr(data-cart) ' order)';
}

.checkout-btn:not([data-cart = "1"])::after {
    content: ' ('attr(data-cart) ' orders)';
}

@media only screen and (max-width: 70rem) {
    .attention-grabber, .attention-grabber-two {
        display: none;
    }
    .tastey-order-info {
        flex: 1;
        flex-flow: column nowrap;
        align-items: start;
        padding-inline-start: 1.1rem;
        padding-block: .1rem;
        gap: 0;
    }
    .tastey-order-image-wrapper {
        min-width: 11rem;
        height: 14rem;
        margin-block: auto;
    }
    .tastey-order-text div:first-child {
        gap: .5rem;
    }
    .tastey-order-text h1 {
        font-size: 1.3rem;
    }
    .tastey-order-text p {
        font-size: .9rem;
    }
    .tastey-order-text div:nth-child(2) {
        justify-content: center;
        padding-block: 1.5rem;
    }
    .tastey-order-price-wrapper {
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        gap: .5rem;
    }
    .sign {
        width: 2rem;
        height: 2rem;
    }
}

@media only screen and (min-width: 70rem) and (min-height: 30rem) {
    .heart-icon-wrapper {
        opacity: 0;
        transform: translateY(25%);
        transition: transform 250ms ease-in, opacity 150ms ease-out;
    }
    .tastey-meal:hover .heart-icon-wrapper, .tastey-meal:has(:focus-visible) .heart-icon-wrapper, .tastey-meal[data-like="true"] .heart-icon-wrapper {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 55rem) {
    .tastey-meal-order-content {
        height: fit-content;
        flex-flow: row wrap;
        justify-content: center;
    }
    .tastey-order-info {
        padding-inline: 0rem;
        padding-block-start: 1rem;
    }
    .tastey-order-image-wrapper {
        min-width: 100%;
    }
    .tastey-order-text {
        width: 100%;
        align-items: center;
    }
    .tastey-order-text div:first-child {
        text-align: center;
    }
    .tastey-order-text div:first-child button {
        margin-inline: auto;
    }
}

@media only screen and (min-width: 55rem) and (min-height: 32.55rem) {
    @supports(position: sticky) {
        .tastey-meal-order {
            transition: transform 400ms ease;
            transform: translate(0px, 0%);
            @starting-style {
                transform: translate(-25px,-100%);
            }
        }
        .tastey-meal-order, .order-number-wrapper {
            position: sticky;
        }
        main.meal-cart {
            padding-block-end: var(--bottom);
        }
        .order-number-wrapper {
            top: 5.5rem;
        }
        .order-number-wrapper {
            scale: var(--sticky-scale) 1;
        }
        .order-number-wrapper .order-number {
            position: relative;
        }
        .tastey-meal-order {
            will-change: transform;
            top: var(--sticky-top);
            scale: var(--sticky-scale) 1;
            padding: .035rem;
            background-color: var(--alt-sub-text-color);
            transition: translate 500ms ease-in-out;
            translate: 0 0;
        }
        .tastey-meal-order:not(:last-child).lift:hover, .tastey-meal-order:not(:last-child):has(:focus-visible) {
            translate: 13.5rem -5.25rem;
        }
        body.cart .tastey-meal-order.lift:not(:last-child):hover::after, body.cart .tastey-meal-order.lift:not(:last-child):hover::before, body.cart .tastey-meal-order:has(:focus-visible)::after, body.cart .tastey-meal-order:has(:focus-visible)::before {
            opacity: 1;
            transform: translate(0,0);
        }   
        body.cart .order-review-section .tastey-meal-order::after, body.cart .order-review-section .tastey-meal-order::before {
            display: flex;
            opacity: 0;
        }
        .tastey-meal-order::after, .tastey-meal-order::before {
            position: absolute;
            border: 1px solid var(--alt-sub-text-color);
            background: var(--lighter-black)!important;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--sub-text-color);
            z-index: 3;
            transition: opacity 250ms ease-in, transform 150ms ease-in;
        }   
        .tastey-meal-order::after {
            width: 3rem;
            height: 3rem;
            font-weight: bold;
            top: 100%;
            left: calc(100% - 2.5rem);
            font-size: 1rem;
            margin-top: 1rem;
            transform: translateY(-4rem);
        }
        .tastey-meal-order::before {
            content: "Order Position";
            padding: 1rem;
            font-size: .8rem;
            width: 4.5rem;
            height: 4.5rem;
            top: calc(100% - 3.25rem);
            left: 100%;
            margin-left: 1rem;
            transform: translateX(-5rem);
        }
        .tastey-meal-order[data-position="1"]::after {
            content: attr(data-position) "st";
        }
        .tastey-meal-order[data-position="2"]::after {
            content: attr(data-position) "nd";
        }
        .tastey-meal-order[data-position="3"]::after {
            content: attr(data-position) "rd";
        }
        .tastey-meal-order:not([data-position="1"],[data-position="2"],[data-position="3"]):after {
            content: attr(data-position) "th";
        }
        .tastey-order-text div:first-child h2 {
            text-align: left;
            width: 100%;
        }
        .tastey-order-text h2:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 50rem) {
    .tastey-order-price-wrapper {
        row-gap: 1.25rem;
        column-gap: 2rem;
        justify-content: center;
    }
    .cart-toggle {
        width: 10rem;
    }
    .sign {
        flex: 1 1 5rem;
    }
}

@media only screen and (max-width: 46.25rem) {
    main.meal-cart {
        justify-content: center;
    }
    .cart-section {
        flex-flow: column nowrap;
        align-items: center;
        gap: 5rem;
    }
    .cart-toggle {
        height: 2.15rem;
    }
    .order-review-section, .checkout-section {
        top: 0;
        width: clamp(5rem,100%,20rem);
    }
    .checkout-section {
        position: relative;
    }
}

@media only screen and (max-width:36rem) {
    .tooltip-text {
        top: .5rem;
        background: none;
        height: fit-content;
    }
    .tooltip-text::after {
        display: none;
    }
    body aside.menu-cart-toggler-container {
        top: 3.5rem;
        width: 95%;
        height: 2.5rem;
        scale: 1;
        transform: translateY(0);
        left: 2.5%;
        flex-flow: row nowrap;
    }
    body aside.menu-cart-toggler-container::before {
        top: 100%;
        width: calc(100% - .7rem);
        left: .35rem;
        height: .375rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    body aside.category-switcher-container {
        width: 3rem;
    }
    body aside.category-switcher-container, #quick-scroll-wrapper {
        right: .25rem;
    }
    body aside::after {
        display: none;
    }
    aside.category-switcher-container {
        opacity: 0;
        height: 0;   
    }
    aside.category-switcher-container.show {
        opacity: 1;
        height: 50dvh;
    }
    .toggler-wrapper {
        width: 95%;
        height: 100%;
        flex-flow: row nowrap;
    }
    .toggler {
        height: 80%;
        flex-flow: row nowrap;
        gap: 3dvw;
    }
    .toggler div p, .switcher div p {
        position: static;
        translate: 0;
        opacity: 1;
    }
    .toggler div p {
        font-size: 1rem;
    }
    .switcher div p {
        font-size: .55rem;
    }
    .toggler .icon, .switcher .switcher-icon {
        opacity: 1;
        scale: 1!important;
        display: flex;
        align-items: center!important;
    }
    .menu-sections {
        padding-top: 0;
        padding-inline: 5dvw;
    }
    .tastey-meal::before, .tastey-meal-order::before {
        background: radial-gradient(
            400px circle at 8rem 4rem,
            rgba(255,255,255,0.3),
            transparent 50%
        )!important;
    }
    .checkout-section::before {
        background: radial-gradient(
            400px circle at center 65%,
            rgba(255,255,255,0.2),
            transparent 40%
        )!important;
        opacity: 1!important;
    }
    .order-number-wrapper::before {
        display: none;
    }
    .menu-sections:hover .tastey-meal::before, main:hover .tastey-meal::after {
        opacity: 0;
    }
    body.cart:hover .checkout-section::after, body.cart:hover .order-number-wrapper::after, body.cart:hover .tastey-meal-order::after, body.cart:hover .tastey-meal-order::before {
        opacity: 0;
    }
    .tastey-menu-title-wrapper {
        margin-top: 7.5rem;
    }
    .tastey-meal:hover::before, .tastey-meal-order:hover::before {
        opacity: 1!important;
    }
    .tastey-meal:hover::after, .checkout-section:hover::after, .order-number-wrapper:hover::after, .tastey-meal-order:hover::after {
       background: rgba(255, 255, 255, 0.25)!important;
       opacity: 1!important;
    }
    main.meal-cart {
        padding-top: 7.5em;
        padding-inline: 2rem;
    }
    body[data-cart="0"] main.meal-cart {
        padding-inline: 0;
    }
}

@media only screen and (min-height: 34rem) {
    main.meal-cart[data-cart='0'] {
        touch-action: none;
    }
}

@media only screen and (max-height: 30rem) {
    aside.menu-cart-toggler-container {
        height: 55dvh;
        scale: .9;
    }
    aside.category-switcher-container {
        bottom: 20dvh;
        scale: .85;
    }
    .toggler div p {
        margin: 0;
    }
    aside:hover .switcher .switcher-icon {
        scale: 1;
    }
    .switcher div {
        display: flex;
        align-items: center;
    }
    .switcher div p {
        display: none;
    }
}

@media only screen and (max-height: 32.5rem) and (min-width: 46.25rem) {
    .order-preview:last-child {
        display: none;
    }
}

@media only screen and (max-height: 26.5rem) and (min-width: 46.25rem) {
    .order-preview:first-child {
        display: none;
    }
    main .order-preview:last-child {
        display: flex;
    }
}

@media only screen and (max-height: 21.5rem) and (min-width: 46.25rem) {
    .order-summary {
        display: none;
    }
}

@media(max-height: 15rem) {
    aside:hover .toggler .icon {
        scale: 1;
    }
    aside .toggler div {
        display: flex;
        align-items: center;
    }
    aside .toggler div p {
        display: none;
    }
    aside.category-switcher-container {
        display: none;
    }
}

@media only screen and (max-width: 20rem) {
    .cart-title-wrapper h3 {
        translate: 0;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
    .cart-title-wrapper h3::after {
        display: none;
    }
    .tastey-menu-title-wrapper::after, .tastey-menu-title-wrapper::before {
        display: none;
    }
    .tastey-meal {
        max-width: 100%;
    }
    .checkout-btn::after {
        display: none;
    }
    .order-preview span {
        flex-wrap: wrap;
    }
    .checkout-preview {
        flex-wrap: wrap;
        justify-content: center;
        gap: .25rem;
        text-align: center;
    }
    .order-price {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0;
    }
}

@media only screen and (max-width: 18.4rem) {
    .product-price:not([data-discount="0"])::after {
        display: none;
    }
}