*,*::after,*::before {
    box-sizing: border-box;
}

img, button, .navigation-section {
    -webkit-user-select: none;
    user-select: none;
}

:root {
    --tastey-brand-color: #ed8f23;
    --tastey-brand-transparent-color: #ed8f2385;
    --tastey-brand-accent-color: #eb9634;
    --tastey-brand-light-accent-color: #f0ad5f;
    --current-theme-main-color: wheat;
    --current-theme-sub-color: white;
    --current-theme-fade-color: whitesmoke;
    --current-theme-accent-color: rgba(255, 255, 255, 0.75);
    --current-theme-transparent-color: rgba(255, 255, 255, 0.15);
    --current-theme-inverse-color: black;
    --current-theme-inverse-accent-color: rgba(0, 0, 0, 0.75);
    --current-theme-inverse-transparent-color: rgba(0, 0, 0, 0.1);
    --current-theme-inverse-alt-transparent-color: rgba(100, 100, 100, .5);
    --lighter-black: rgb(20,20,20);
    --darker-black: rgb(15,15,15);
    --main-text-color: lightgrey;
    --sub-text-color: grey;
    --alt-sub-text-color: gray;
    --attractive-color: greenyellow;
    --attractive-accent-color: rgb(181, 255, 69);
    --soft-red: rgb(255, 35, 35);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html, *::after, *::before, aside, button, input, textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

body {
    width: 100dvw;
    margin: 0;
    overflow-x: hidden;
    background: fixed center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-1.png'), var(--darker-black);
    overflow-x: hidden;
}

body.loading {
    background: fixed radial-gradient(35rem circle at center 14rem, rgba(255,255,255,0.475), transparent 40%), fixed center 6rem/18.75rem no-repeat url('../assets/tastey-meal-icons/tastey-icon.png'), fixed no-repeat center 10.5rem url('../assets/tastey-meal-images/tastey_preloader.gif'), fixed center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-1.png'), var(--darker-black)!important;
    height: 100dvh!important;
}

body.loading > *:not(nav) {
    display: none!important;
}

main.dev > div.dev-content {
    padding-top: 3rem;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--current-theme-sub-color);
    text-align: center;
    padding-inline: 5dvw;
}

main.dev > div.dev-content > p {
    font-size: clamp(1.5rem,5vmin,2rem);
}

footer.delay {
    display: none!important;
}

*:focus-visible {
    outline: .15rem solid var(--sub-text-color);
    outline-offset: .1rem;
    outline-style: dashed;
}

a {
    text-decoration: none;
    color: inherit;
    border-radius: .001rem;
}

a:hover {
    cursor: pointer;
}

.Tastey-text {
    font-family: 'Times New Roman', Times, serif!important;
}

:where(.Tastey-blur) {
    position: relative;
}

:where(.Tastey-blur)::before {
    content: '';
    position: absolute;
    width: calc(100% - .7rem);
    left: .35rem;
    height: .375rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--current-theme-transparent-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 100%;
    transition: height 200ms ease;
}

:where(.Tastey-blur):where(button, a):hover::before {
    height: .275rem;
}

:where(.Tastey-blur-bc) {
    z-index: 1;
    background-color: var(--current-theme-inverse-transparent-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav {
    background-color: var(--current-theme-main-color);
    width: 97.5%;
    left: 1.25%;
    height: 3rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    border-radius: .5rem;
    z-index: 5;
    color: var(--current-theme-inverse-color);
    transition: 450ms ease;
}

@media only screen and (min-width: 36rem) and (min-height: 30rem) {
    nav {
        transform: translateY(.5rem);
    }
    nav.top {
        transform: translateY(0);
        border-radius: 0 0 .5rem .5rem;
    }
}

.navigation-section {
    flex: 5;
}

.company-name-section {
    display: flex;
    gap: 1dvw;
}

.tastey-logo {
    min-width: 2rem;
    background: url('../assets/tastey-meal-icons/tastey-icon.png') no-repeat center center;
    background-size: contain;
}

.company-name-section span h3, .company-name-section span h6 {
    margin: 0;
    white-space: nowrap;
}

.company-name-section span h3 {
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.company-name-section span h6 {
    color: var(--tastey-brand-color);
}

.navigation-section {
    display: flex;
    justify-content: center;
}

.navigation-section ul {
    display: flex;
    gap: 1rem;
    padding: 0;
}

.navigation-section ul li {
    list-style-type: none;
    font-size: .75rem;
    font-weight: 600;
    width: 3.75rem;
    text-align: center;
    position: relative;
}

.navigation-section ul li::after {
    content: '';
    width: 100%;
    border-radius: .075rem;
    height: .15rem;
    background-color: var(--tastey-brand-color);
    position: absolute;
    overflow: hidden;
    top: 1.8rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 200ms ease;
}

.navigation-section ul li.active::after, .navigation-section ul li:hover::after {
    transform: scaleX(100%);
    transform-origin: bottom left;
    transition: transform 200ms ease;
}

.user-service-wrapper {
    display: flex;
    align-items: center;
}

.user-service-wrapper a, .navbar-cart {
    border-radius: .25rem;
}

.reservation-btn { 
    background-color: var(--tastey-brand-accent-color);
    border: none;
    width: fit-content;
    padding: .65rem;
    padding-inline: 1rem;
    font-size: .75rem;
    border-radius: .25rem;
    position: relative;
    font-weight: 600;
    color: var(--current-theme-inverse-accent-color);
}

.reservation-btn:hover {
    background-color: var(--tastey-brand-color);
    color: var(--current-theme-inverse-color);
}

.hamburger-icon {
    display: none;
}

.cart-container {
    position: relative;
    padding: 1rem 0rem 1rem 1vw;
}

.cart-container .mini-meal-cart.close {
    display: none;
}

.cart-container:hover .navbar-cart, .cart-container:has(:focus-visible) .navbar-cart {
    cursor: pointer;
    opacity: 1;
}

nav .cart-container:has(:focus-visible) .mini-meal-cart {
    display: block;
}

nav .cart-container:has(:focus-visible) .mini-meal-cart.close .close-cart-button {
    display: none;
}

.Cart {
    position: relative;
    display: inline-block;
}

.navbar-cart {
    opacity: 0.85;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-cart svg {
    width: 1.65rem;
    height: 1.65rem;
    fill: var(--current-theme-inverse-color);
}

.cart-icon.empty {
    transform: scaleX(.9);
}

.Cart[data-cart = '0'] .cart-icon.empty {
    display: block;
}

.Cart:not([data-cart='0']) .cart-icon.empty {
    display: none;
}

.Cart[data-cart = '0'] .cart-icon {
    display: none;
}

.Cart:not([data-cart='0']) .cart-icon {
    display: block;
}

.Cart[data-cart = '0']::after {
    display: none;
}

.Cart::after {
    content: attr(data-cart);
    background-color: var(--tastey-brand-color);
    color: var(--current-theme-inverse-color);
    min-width: .75rem;
    padding: .01rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.Cart.navbar-cart::after {
    font-weight: bold;
}

.mini-meal-cart {
    z-index: 10;
    position: absolute;
    top: 3.2rem;
    right: 0;
    width: clamp(5rem,90dvw,22.5rem);
    height: 30rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 2px 2px 2.5rem rgba(255, 255, 255, 0.1);
}

.mini-meal-cart::after, .mini-meal-cart::before {
    border-radius: inherit;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 250ms ease;
    pointer-events: none;
} 

.mini-meal-cart::before {
    background: radial-gradient(
        25rem circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,0.15),
        transparent 40%
    );
    z-index: 13;
}

.mini-meal-cart::after {
    background: radial-gradient(
        20rem circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,1),
        transparent 40%
    );
    z-index: 11;
}

.mini-meal-cart-content {
    background: center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-1.png'), var(--lighter-black);
    border-radius: inherit;
    position: absolute;
    inset: .035rem;
    padding-block: 1.25rem;
    border-radius: inherit;
    z-index: 12;
    display: flex;
    flex-direction: column;  
    gap: 1rem;  
}

.mini-meal-cart[data-cart='0'] .mini-meal-cart-content {
    background: center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-2.png'), var(--lighter-black);
}

.mini-meal-cart[data-cart='0'] {
    touch-action: none;
}

.mini-meal-cart[data-cart='0']::before, .mini-meal-cart:hover::after {
    opacity: 1;
}

.mini-meal-cart:not([data-cart='0'])::before {
    background: radial-gradient(
        17.5rem circle at center 50%,
        rgba(255,255,255,0.2),
        transparent 40%
    );
    opacity: 1;
}

.mini-meal-cart[data-cart='0'] .mini-cart-section, .mini-meal-cart:not([data-cart='0']) .mini-empty-cart-section {
    display: none;
}

.mini-meal-cart[data-cart='0'] .mini-empty-cart-section, .mini-meal-cart:not([data-cart='0']) .mini-cart-section {
    display: flex;
}

.mini-meal-cart p, .mini-meal-cart button, .mini-meal-cart h2, .mini-meal-cart h5, .mini-meal-cart h6 {
    margin: 0;
}

.mini-cart-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    margin-inline-start: 1.25rem;
    margin-inline-end: 2rem;
}

.mini-cart-title-wrapper h5 {
    font-size: 1rem;
    color: var(--current-theme-sub-color);
}

.mini-cart-title-wrapper h5::after {
    color: var(--sub-text-color);
    font-size: .8rem;
}

.mini-cart-title-wrapper h5[data-meals="0"]::after {
    display: none;
}

.mini-cart-title-wrapper h5[data-meals = "1"][data-cart = "1"]::after {
    content: ' (' attr(data-cart) ' Order & ' attr(data-meals) ' Tastey Meal)';
}

.mini-cart-title-wrapper h5[data-meals = "1"]:not([data-cart = "1"])::after {
    content: ' (' attr(data-cart) ' Orders & ' attr(data-meals) ' Tastey Meal)';
}

.mini-cart-title-wrapper h5:not([data-meals = "1"])::after {
    content: ' (' attr(data-cart) ' Orders & ' attr(data-meals) ' Tastey Meals)';
}

.mini-cart-top-section div:nth-of-type(2) {
    position: absolute;
    top: .75rem;
    right: .75rem;
    display: inline-flex;
}

.mini-cart-top-section button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    padding: 0;
    height: 100%;
}

.mini-cart-top-section button:hover {
    cursor: pointer;
}

.mini-cart-top-section button:hover svg {
    fill: red;
}

.mini-cart-top-section button svg {
    width: .825rem;
    fill: var(--main-text-color);
}

.mini-empty-cart-section {
    display: flex;
    color: var(--tastey-brand-color);
    display: flex;
    align-items: end;
    justify-content: center;
    background: url('../assets/tastey-meal-images/empty-cart.png') center 65%/80% no-repeat;
    height: 16em;
} 

.mini-empty-cart-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
}

.mini-empty-cart-text h6 {
    font-size: .9rem;
}

.mini-empty-cart-text a {
    font-size: .8rem;
    color: lightblue;
    text-decoration: underline;
}

.mini-cart-section {
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.75rem);
}

.mini-cart-idle-content {
    opacity: 0;
    height: .5rem;
}

.mini-cart-order-review-section { 
    background: center/cover no-repeat url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-2.png'), var(--darker-black);
    flex: 0 0 14.5rem;
    width: 100%;
    padding-inline: 1.25rem;
    padding-block-end: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-height: 32.5rem) and (min-width: 25rem) {
    .mini-meal-cart {
        width: clamp(25rem, 90dvw, 36rem);
        height: clamp(15rem, calc(100dvh - 4rem), 17rem);
    }
    .mini-empty-cart-section {
        height: 11rem;
        background: url('../assets/tastey-meal-images/empty-cart.png') center 85%/40% no-repeat;
    }
    .mini-meal-cart:not([data-cart='0'])::before {
        background: radial-gradient(
            17.5rem circle at 10rem 90%,
            rgba(255,255,255,0.2),
            transparent 40%
        );
    }
    .mini-cart-section {
        flex-direction: row;
        height: calc(100% - 1rem);
    }
    .mini-cart-order-review-section {
        flex: 0 0 55%;
    }
    .mini-cart-order-review-section, .mini-meal-cart .mini-cart-checkout {
        padding-inline: .75rem;
    }
    .mini-meal-cart .mini-cart-checkout-preview {
        height: 35%;
    }
    .mini-meal-cart .mini-cart-buttons-wrapper {
        gap: 0;
    }
    .mini-meal-cart .mini-cart-buttons-wrapper a {
        margin-bottom: 2.75dvh;
    }
    .mini-meal-cart .mini-cart-checkout .mini-cart-checkout-button {
        margin-block-end: 6dvh;
    }
}

@media only screen and (max-width: 21.75rem), only screen and (max-height: 32.5rem) and (max-width: 38.5rem) {
    .mini-meal-cart .mini-cart-tastey-order-text h5:not([data-serving="NG"])::after {
        display: none;
    }
    .mini-meal-cart .mini-cart-actual-meal-price {
        display: none;    
    }
}

@media only screen and (max-width: 17.5rem), only screen and (max-height: 32.5rem) and (max-width: 40rem) {
    .mini-meal-cart .mini-cart-checkout .mini-cart-checkout-button::after {
        display: none;
    }
    .mini-cart-order-review-section {
        padding-inline: 1.75vw;
    }
}

.mini-cart-order-review-section::-webkit-scrollbar {
    width: .35rem;
}

.mini-cart-order-review-section::-webkit-scrollbar:hover {
    width: .6rem;
}

.mini-cart-order-review-section::-webkit-scrollbar-track, .mini-cart-order-review-section::-webkit-scrollbar-corner {
    background-color: var(--darker-black);
}

.mini-cart-order-review-section::-webkit-scrollbar-button:single-button {
    display: none;
}

.mini-cart-tastey-meal-order {
    will-change: transform;
    flex: 0 0 6.5rem;
    border-radius: .35rem;
    width: inherit;
    background: var(--lighter-black);
    border: solid .01px var(--sub-text-color);
    overflow: hidden;
    padding: .5rem;
    display: flex;
    flex-flow: row nowrap;
    transition: transform 400ms ease;
    transform: translate(0px, 0%);
    @starting-style {
        transform: translate(-15px,-100%);
    }
}

@supports (position: sticky) {
    .mini-cart-tastey-meal-order {
        position: sticky;
        top: var(--mini-sticky-top);
        scale: var(--mini-sticky-scale);
    }
    .mini-cart-order-review-section {
        padding-block-end: var(--mini-bottom);
    }
}

.mini-cart-tastey-order-image-wrapper {
    flex: 0 0 27.5%;
    display: flex;
    align-items: center;
    position: relative;
    background: var(--tastey-brand-accent-color);
    border-radius: .25rem;
}

.mini-cart-tastey-order-image {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: inherit;
}

.mini-cart-tastey-order-image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    margin-block-start: .1rem;
    background: radial-gradient(1.75rem circle at center, rgba(255,255,255,0.25), transparent 20%), url('../assets/tastey-meal-icons/tastey-icon.png') no-repeat center center/cover;
    pointer-events: none;
}

.mini-cart-tastey-order-info p, .mini-cart-tastey-order-info h5 {
    margin: 0;
}

.mini-cart-tastey-order-info {
    flex: 0 1 78.5%;
    display: flex;
    justify-content: space-between;
    padding-inline-start: .65rem;
}

.mini-cart-tastey-order-text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-block-start: .15rem;
    padding-block-end: .1rem;
    padding-inline-end: .65rem;
    justify-content: space-between;
}

.mini-cart-tastey-order-text {
    display: flex;
    flex-direction: column;
    gap: .15rem;
}

.mini-cart-tastey-order-text h5 {
    color: var(--main-text-color);
    font-size: .85rem;
}

.mini-cart-tastey-order-text h5:not([data-serving="NG"])::after {
    content: '(' attr(data-serving) ')';
    color: var(--sub-text-color);
    font-weight: lighter;
    font-size: .625rem;
    font-style: italic;
    display: block;
}

.mini-cart-tastey-order-text > span {
    display: flex;
    row-gap: 0;
    column-gap: .5rem;
    align-items: center;
    flex-flow: row wrap;
}

.mini-cart-meal-price {
    color: var(--attractive-color);
    font-size: .8rem;
}

.mini-cart-actual-meal-price {
    color: var(--sub-text-color);
    font-size: .7rem;
    text-decoration: line-through;
}

.mini-cart-tastey-meal-order[data-discount='0'] .mini-cart-actual-meal-price {
    display: none;
}

.mini-cart-tastey-order-text-wrapper div:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
}

.mini-cart-tastey-order-text-wrapper div:nth-of-type(2) button {
    background-color: transparent;
    border: none;
    width: fit-content;
    padding: 0;
    margin: 0;
    border-radius: .1rem;
    opacity: .95;
    display: flex;
    height: 1.5rem;
    align-items: center;
}

.mini-cart-tastey-order-text-wrapper div:nth-of-type(2) button:hover {
    cursor: pointer;
    opacity: 1;
}

.mini-cart-tastey-meal-order[data-like="false"] .liked-heart-icon, .mini-cart-tastey-meal-order[data-like="true"] .unliked-heart-icon {
    display: none;
}

.mini-cart-tastey-meal-order[data-like="false"] .unliked-heart-icon, .mini-cart-tastey-meal-order[data-like="true"] .liked-heart-icon {
    display: block;
}

.liked-heart-icon, .unliked-heart-icon {
    fill: red;
}

.mini-cart-wishlist span svg.unliked-heart-icon {
    width: 1.4rem;
    height: 1.4rem;
}

.mini-cart-wishlist span svg.liked-heart-icon {
    width: 1.2rem;
    height: 1.4rem;
}

.mini-cart-delete-order span svg {
    fill: var(--main-text-color);
    position: relative;
    top: .11rem;
    width: 1.4rem;
    height: 1.4rem;
}

.mini-cart-toggle-wrapper {
    display: flex;
    width: fit-content;
}

.mini-cart-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .005px solid var(--alt-sub-text-color);
    gap: 0.5rem;
    min-width: 2rem;
    border-radius: 0.25rem;
}

.mini-cart-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    height: 5rem;
    border: none;
    opacity: .85;
}

.mini-cart-sign.disabled {
    cursor: not-allowed!important;
    opacity: .5!important;
}

.mini-cart-sign.disabled svg {
    fill: var(--sub-text-color)!important;
}

.mini-cart-sign:hover {
    cursor: not-allowed;
}

.mini-cart-sign svg {
    fill: var(--current-theme-inverse-color);
}

.mini-cart-sign.hover svg {
    fill: var(--current-theme-fade-color);
}

.mini-cart-sign.hover:hover {
    cursor: pointer;
    opacity: 1;
}

.mini-cart-add {
    background-color: transparent;
    border-radius: 0 0 .25rem .25rem;
}

.mini-cart-add.hover { 
    border-top: 1px solid var(--alt-sub-text-color);
}

.mini-cart-minus {
    background-color: var(--soft-red);
    border-radius: .25rem .25rem 0 0;
}

.mini-cart-minus.hover {
    background-color: transparent;
    border-bottom: 1px solid var(--alt-sub-text-color);
}

.mini-cart-tastey-meal-order[data-orders="1"] .mini-cart-minus svg:first-child, .mini-cart-tastey-meal-order:not([data-orders="1"]) .mini-cart-minus svg:nth-child(2) {
    display: inline;
} 

.mini-cart-tastey-meal-order:not([data-orders="1"]) .mini-cart-minus svg:first-child, .mini-cart-tastey-meal-order[data-orders="1"] .mini-cart-minus svg:nth-child(2) {
    display: none;
}

.mini-cart-number {
    padding-inline: .2rem;
    font-size: .85rem;
    color: var(--current-theme-fade-color);
}

.mini-cart-checkout {
    display: flex;
    flex-direction: column;
    padding-inline: 1.25rem;
}

.mini-cart-checkout-preview {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    height: 3.5rem; 
    align-items: center;
    color: var(--main-text-color);
    font-size: .725rem;
    font-weight: bolder;
}

.mini-cart-checkout-preview p {
    margin: 0;
    display: inline-flex;
}

.mini-cart-total-amount-values {
    text-align: right;
}

.mini-cart-TOTAL-COST {
    font-size: .85rem;
    color: var(--attractive-color);
}

.mini-cart-actual-price {
    font-size: .725rem;
    color: var(--sub-text-color);
    text-decoration: line-through;
}

.mini-cart-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.mini-cart-buttons-wrapper button, .mini-cart-buttons-wrapper a {
    width: 100%;
    height: 1.75rem;
    font-size: .9rem;
    background-color: var(--tastey-brand-light-accent-color);
    color: var(--current-theme-inverse-color);
    border: none;
    border-radius: .25rem;
    color: var(--current-theme-inverse-accent-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    gap: .2rem;
    opacity: .95;
}

.mini-cart-buttons-wrapper button:hover, .mini-cart-buttons-wrapper a:hover {
    cursor: pointer;
    opacity: 1;
}

.mini-cart-buttons-wrapper a:hover {
    color: var(--current-theme-inverse-color);
    background-color: var(--tastey-brand-accent-color);
    text-decoration: underline;
}

.mini-cart-buttons-wrapper a:hover svg {
    fill: var(--current-theme-inverse-color);
}

.mini-cart-buttons-wrapper .mini-cart-checkout-button {
    font-size: .925rem;
    height: 2.15rem;
    color: var(--current-theme-fade-color);
    font-weight: bolder;
    background-color: var(--tastey-brand-color);
    margin-block-end: .775rem;
    transition: 150ms ease;
}

.mini-cart-checkout-button:hover {
    color: var(--current-theme-sub-color);
    transform: scale(1.0175);
}

.mini-cart-checkout-button::after {
    font-size: .8rem;
    color: var(--current-theme-inverse-accent-color);
}

.mini-cart-checkout-button[data-cart = "1"]::after {
    content: ' ('attr(data-cart) ' order)';
}

.mini-cart-checkout-button:not([data-cart = "1"])::after {
    content: ' ('attr(data-cart) ' orders)';
}

.mini-cart-icon svg, .mini-cart-menu-icon svg {
    height: 1.175rem;
    margin-top: .125rem;
    fill: var(--current-theme-inverse-accent-color);
}

.mini-cart-shopping-bag-button .Cart::after {
    display: none;
}

#scroller-circle {
  position: absolute;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle{
  stroke: var(--attractive-color);
}

#quick-scroll-wrapper{
  position: fixed;
  bottom: 7.5dvh;
  right: .5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--tastey-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

#quick-scroll-wrapper button {
    margin: 0;
    padding: 0;
    border: none;
}

#quick-scroll-show{
  z-index: 1;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  background: var(--current-theme-main-color);
  position: absolute;
  transform: rotate(0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

#quick-scroll-show svg {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--current-theme-inverse-accent-color);
}

#quick-scroll-show:hover svg {
    fill: var(--current-theme-inverse-color);
}

#quick-scrolls{
  position: absolute;
  right: 1.25rem;
  height: 8rem;
  width: 2.5rem;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  transition: width 300ms ease, opacity 250ms ease;
}

#quick-scroll-wrapper:has(:focus-visible) #quick-scrolls, #quick-scrolls.show {
    pointer-events: all;
    width: 4.25rem;
    opacity: 1;
}  

#quick-scroll-wrapper:hover{
  cursor: pointer;
  color: var(--current-theme-inverse-color);
}

#to-top:hover,#to-bottom:hover,#remove-quick-scrolls:hover{
  cursor: pointer;
  color: var(--current-theme-inverse-color);
}

#to-top, #to-bottom, #remove-quick-scrolls{
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: var(--current-theme-main-color);
}

#to-top,#to-bottom{
  height: 2.75rem;
  width: 2.75rem;
  font-size: 2rem;
}

#to-top svg, #to-bottom svg {
    width: 1.5rem;
    height: 1.5rem;
    fill:  var(--current-theme-inverse-accent-color);;
}

#to-top:hover svg, #to-bottom svg:hover {
    fill:  var(--current-theme-inverse-color);
}

#remove-quick-scrolls{
  height: 2.15rem;
  width: 2.15rem;
  font-size: 1.5rem;
  position: relative;
  right: 1rem;
  background-color: var(--current-theme-main-color);
  transition: 200ms ease;
}

#remove-quick-scrolls svg {
    width: 1rem;
    height: 1rem;
    fill: var(--current-theme-inverse-accent-color);
    transition: inherit;
}

#remove-quick-scrolls:hover svg {
    fill: var(--current-theme-sub-color);
}

#remove-quick-scrolls:hover {
  background-color: red;
}

footer {
    background: url('../assets/tastey-food-themed-backgrounds/dark-food-themed-background-2.png') bottom/cover, var(--darker-black);
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding-block-start: 3.5rem;
    padding-block-end: 1rem;
    padding-inline: 2dvw;
    gap: 2rem;
}

.footer-top-section {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
    row-gap: 2.5rem;
    justify-content: space-between;
}

.footer-top-section > div {
    flex: 1 1 20rem;
    max-width: 100dvw;
    min-width: 5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-inline: 2dvw;
    gap: 1.25rem;
}

.footer-top-section p, .footer-top-section h2 {
    margin: 0;
}

.footer-top-section h2 {
    font-size: 1.35rem;
    color: var(--main-text-color);
}

.footer-top-section p, .footer-top-section a {
    font-size: .95rem;
    color: var(--sub-text-color);
}

.see-more, .view-bag, .reserve {
    white-space: nowrap!important;
    min-width: 6.5rem;
}

.footer-top-section .see-more, .footer-top-section .view-bag, .footer-top-section .reserve {
    color: var(--tastey-brand-light-accent-color);
    position: relative;
    width: fit-content;
}

.view-bag::after, .reserve::after {
    content: '\00BB';
    position: absolute; 
    font-size: 1.5rem;
    top: -.45rem;
    left: calc(100% + .25rem);
    transition: transform 0s ease;
}

.view-bag:hover::after, .reserve:hover::after {
    transform: scale(1.25);
    transition: transform 0.25s ease;
}

.footer-top-section .see-more:hover, .view-bag:hover, .reserve:hover {
    color: var(--tastey-brand-accent-color);
}

.footer-top-section .see-more:hover, .view-bag:hover, .reserve:hover {
    text-decoration: underline;
}

.footer-top-section .see-more::after {
    content: '\2716';
    position: absolute;
    margin-left: .5rem;
    scale: .8;
    bottom: 0;
    rotate: 45deg;
}

.footer-top-section .see-more:hover::after {
    rotate: 135deg;
    transition: rotate 500ms ease;
}

.view-bag, .reserve {
    margin-left: 2rem;
}

.footer-contact-section div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-contact-section div > a > span {
    text-decoration: underline;
}

.footer-contact-section a {
    display: block;
}

.footer-top-section .footer-special-section {
    gap: 0;
}

.footer-special-section h2, .footer-special-section p {
    margin-bottom: 1rem;
}

.offers-container {
    position: relative;
}

.footer-arrow-container {
    position: absolute;
    z-index: 1;
    top: 1rem;
    height: 4rem;
    width: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
}

.footer-arrow-container > svg {
    height: 100%;
    width: 2rem;
    fill: var(--current-theme-inverse-accent-colorcolor);
    opacity: .75;
    transition: 300ms ease;
}

.footer-arrow-container:not(.disabled):hover > svg {
    cursor: pointer;
    scale: 1.1;
    opacity: 1;
}

.footer-arrow-container.disabled:hover > svg {
    cursor: not-allowed;
    animation: none;
}

.left-arrow:hover {
    animation: backward-push 250ms ease;
}
@keyframes backward-push {
    from, to {
        translate: -.1rem;
    } 50% {
        translate: 0;
    }
}

.right-arrow:hover {
    animation: forward-push 250ms ease;
}
@keyframes forward-push {
    from, to {
        translate: .1rem;
    } 50% {
        translate: 0;
    }
}

.footer-arrow-container:nth-of-type(2) {
    right: 0;
}

.offers-imgs-wrapper {
    display: flex;
    gap: .6rem;
    overflow-y: hidden;
    overflow-x: auto;
}

.offers-imgs-wrapper::-webkit-scrollbar {
    display: none;
}

.footer-tastey-meal {
    flex: 0 0 5rem;
    width: 5rem;
    height: 10rem;
    padding-block: .5rem;
    display: flex;
    flex-direction: column;
}

.footer-tastey-meal a {
    background: var(--tastey-brand-color);
    width: inherit;
    height: 4.65rem;
    position: relative;
    border-radius: .25rem;
}

.footer-tastey-meal a:not([data-discount="0"])::after {
    content: '-'attr(data-discount) '%';
    position: absolute;
    top: 0;
    right: 0;
    font-size: .6rem;
    color: var(--current-theme-fade-color);
    background-color: var(--soft-red);
    min-width: 1.35rem;
    height: 1.35rem;
    padding-inline: .075rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: .9;
    transition: 250ms ease-in-out;
}

.footer-tastey-meal:hover a:not([data-discount="0"])::after {
    scale: 1;
    color: var(--current-theme-sub-color);
}

.footer-tastey-meal a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    text-align: center;
    border-radius: inherit;
    cursor: move;
} 

.footer-tastey-meal > p {
    color: var(--attractive-color);
    opacity: .9;
    font-size: .85rem;
    text-align: center;
    margin-block: .15rem;
}

.footer-tastey-meal:hover > p {
    opacity: 1;
}

.footer-add-to-cart-button {
    border: none;
    width: 100%;
    height: 1.35rem;
    margin: 0;
    padding: 0;
    border-radius: .25rem;
    background-color: var(--tastey-brand-accent-color);
    color: var(--current-theme-fade-color);
    font-size: .75rem;
    font-weight: bold;
    position: relative;
}

.footer-add-to-cart-button.disabled {
    background-color: var(--sub-text-color)!important;
    cursor: not-allowed!important;
    color: var(--current-theme-fade-color)!important;
    font-size: .75rem!important;
    opacity: .75!important;
}

.footer-add-to-cart-button:hover {
    cursor: pointer;
    background-color: var(--tastey-brand-color);
    color: var(--current-theme-sub-color);
}

.footer-add-to-cart-button:hover {
    font-size: .775rem;
}

.footer-add-to-cart-button:not([data-orders="0"])::after {
    position: absolute;
    content: attr(data-orders) ' in Shopping Bag';
    width: 100%;
    text-align: center;
    left: 0;
    top: 100%;
    font-size: .6rem;
    color: var(--sub-text-color);
}

.footer-bottom-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-inline-end: 5dvw;
    row-gap: 1rem;
    column-gap: 7.5rem;
}

.footer-rights-section {
    font-size: .85rem;
    color: var(--current-theme-accent-color);
}

.footer-rights-section p span {
    font-family: 'Times New Roman', Times, serif;
}

.footer-social-section {
    display: flex;
    gap: .75rem;
}

.footer-social-section a {
    height: 2.5rem;
    width: 2.5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: .3rem;
    background: var(--lighter-black);
    transition: 300ms ease;
}

.footer-social-section a > svg {
    fill: var(--current-theme-sub-color);
    width: 100%;
    height: 100%;
}

.facebook:hover, .facebook:focus {
    background: white;
}

.facebook:hover > svg, .facebook:focus > svg {
    fill: #4267B2;
}

.twitter:hover, .twitter:focus {
    background: #00acee;
}

.instagram:hover, .instagram:focus {
    background-image: linear-gradient(to right, #f9ce34, #ee2a7b,#6228d7);
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.youtube:hover, .youtube:focus {
    background: white;
}

.youtube:hover > svg, .youtube:focus > svg {
    fill: #f12020;
}

@media only screen and (min-width: 70rem) and (min-height: 30rem) {
    nav .cart-container:hover .mini-meal-cart {
        display: flex;
    }
    nav .cart-container:hover .mini-meal-cart.close .close-cart-button {
        display: none;
    }
    .mini-cart-top-section button {
        position: absolute;
        top: -.85rem;
        right: -2.5rem;
        background-color: var(--darker-black);
        border: .05px solid var(--sub-text-color);
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
    }
    .mini-cart-top-section button:hover {
        background-color: var(--soft-red);
    }
    .mini-cart-top-section button:hover svg {
        fill: var(--darker-black);
    }
    #quick-scroll-wrapper:hover #quick-scrolls {
        pointer-events: all;
        width: 4.25rem;
        opacity: 1;        
    }
}

@media only screen and (max-width: 50rem) {
    nav {
        width: 100%;
        padding: 1dvw;
        left: 0;
    }
    .navigation-section ul {
        gap: .5dvw;
    }
    .user-service-wrapper {
        gap: 1dvw;
    }
}


@media only screen and (max-width:36rem) {
    :root {
        --bar-width: 2rem;
        --bar-height: .25rem;
        --bar-gap: .4rem;
        --burger-margin: 1dvw;
        --foreground: var(--current-theme-inverse-accent-color);
        --background-color: var(--foreground);
        --animation-timing: 200ms ease-in-out; 
        --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
    }
    nav {
        border-radius: 0 0 .5rem .5rem;
    }
    .company-name-section, .user-service-section {
        width: 50%;
        display: flex;
    }
    .company-name-section {
        justify-content: start;
        padding-inline-start: 3.5rem;
        gap: 2.5dvw;
    }
    .user-service-section {
        justify-content: end;
        padding-inline: 2.5dvw;
    }
    .user-service-section .reservation-btn {
        display: none;
    }
    .navigation-section {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        translate: -100dvw;    
    }
    .navigation-section:after {
        content: '';
        position: absolute;
        width: 40dvw;
        left: 60dvw;
        height: 100dvh;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        top: 0;
    }
    .navigation-section ul {
        background-color: var(--current-theme-main-color);
        flex-direction: column;
        width: 60dvw;
        height: 100dvh;
        margin: 0;
        justify-content: center;
        align-items: center;
        line-height: 4.5rem;
    }
    .navigation-section ul li {
        width: 5rem;
        border-bottom: 1px solid var(--current-theme-inverse-accent-color);
        opacity: .65;
    }
    .navigation-section ul li.active {
        opacity: 1;
    }
    .navigation-section ul li::after {
        top: 100%;
        height: .1rem;
    }
    .navigation-section ul li:hover::after {
        transform: scaleX(0);
    }
    .navigation-section ul li a {
        font-size: 1rem;
    }
    .hamburger-icon {
        display: flex;
        position: absolute;
        z-index: 16 ;
        margin-left: var(--burger-margin);
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: var(--bar-gap);
        width: max-content;
        cursor: pointer;
        --x-width: calc(var(--hamburger-height)*1.41421356237)
    }
    .hamburger::before,
    .hamburger::after,
    .hamburger input {
        content: '';
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 999rem;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
    }
    .hamburger input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline-offset: .75rem;
    }
    .hamburger:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
        background-color: var(--current-theme-inverse-color);
    }
    .hamburger:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
        background-color: var(--current-theme-inverse-color);
    }
    .hamburger input:checked {
        opacity: 0;
        width: 0;
    }
    .hamburger-icon:has(input:checked) + .navigation-section {
        translate: 0dvw;
    }
    #quick-scroll-show svg, #to-top svg, #to-bottom svg {
        fill: var(--current-theme-inverse-color);
    }
    #remove-quick-scrolls {
        background-color: red;
    }
    #remove-quick-scrolls svg {
        fill: var(--current-theme-sub-color);
    }
    .footer-bottom-section {
        justify-content: center;
        padding-inline: 2.5rem;
    }
    .footer-social-section .facebook {
        background: white;
    }
    .footer-social-section .facebook > svg {
        fill: #4267B2;
    }
    .footer-social-section .twitter {
        background: #00acee;
    }
    .footer-social-section .instagram {
        background: linear-gradient(to right, #f9ce34, #ee2a7b,#6228d7);
    }
    .footer-social-section .youtube {
        background: white;
    }    
    .footer-social-section .youtube > svg {
        fill: #f12020;
    }
}

@media only screen and (max-width: 30rem) {
    .footer-arrow-container {
        display: none;
    }
}

@media only screen and (max-height: 30rem) {
    nav {
        width: 100%;
        left: 0;
        border-radius: 0 0 .5rem .5rem;
    }    
    #quick-scroll-wrapper {
        bottom: 5dvh;
        scale: .8;
    } 
    #quick-scrolls {
        justify-content: center;
    }
}
